@font-face {
    src: url("../fonts/MongThirtyoneB.ttf");
    font-family: "Mong";
}

audio{
    display: block;
    margin: 0 auto;
    max-width: 80%;
    border: 2px solid lavender;
    border-radius: 20px;
    background-color: #ebfdeb;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
audio::-webkit-media-controls-panel {
    background-color: #ebfdeb;
    border-radius: 8px;
}
audio::-webkit-media-controls-play-button {
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    width: 45px;
    height: 35px;
}

.img-container {
    display: flex; /*이미지 가로로 나열하기*/
    flex-wrap: wrap; /*가로로 공간이 부족할 경우 다음 줄로 넘김*/
    justify-content: center; /*가로 방향으로 중앙 정렬, 이미지들이 수평 가운데 정렬되도록 함*/
}
.image {
    width: 300px;
    height: 300px;
    margin: 10px;
}

*{
    box-sizing: border-box;
}
header{
    font-family: "Mong";
    background-color: #fffab4;
    /*background: linear-gradient(90deg,lightCyan,skyblue 50%,aliceblue);*/
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    text-align: center;
    margin: auto;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

nav{
    font-family: "Mong";
    float: left;
    width: 15%;
    height: 550px;
    /*background:linear-gradient(to left, #c9d6ff,#e2e2e2);*/
    background-color:#e9ffe9;
    padding: 20px;
    color: white;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

nav ul{
    text-align: center;
    list-style-type: none;
    padding: 0;
}

aside {
    font-family: "Mong";
    float: right;
    width: 15%;
    height: 550px;
    background-color: lavenderblush;
    padding: 20px;
    text-align: center;
}
aside form {
    padding: 8px;
}

article{
    font-family: "Mong";
    float: left;
    padding: 20px;
    width: 70%;
    background-color: white;
    height: 550px;
    text-align: center;
}

section::after { /*콜론을 2개 넣어서 이제부터 내가 시작한다는 것을 알림*/
    font-family: "Mong";
    content: "";
    display: table;
    clear: both;
}
footer {
   /* background-color: #cfff33;*/
   font-family: "Mong";
   /* background:linear-gradient(to right,aliceblue, lightCyan) ; 시작할 색상 정하기*/
    background:linear-gradient(to right, saddlebrown, white);
    padding: 10px;
    text-align: center;
    color: white;
}
@media (max-width:600px){
    nav,article{
        width: 100%;
        height: auto;
    }
}
.comment h3{
    text-align: left;
    font-family: "Mong";
    padding: 10px;
}

.comment input[type="text"]{
    font-family: "Mong";
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
.comment button{
    font-family: "Mong";
    float: right;
}